<!DOCTYPE html>


<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Multi-Player Online Battle Games Matches and Players Analyzing Application</title>

    <!-- Bootstrap -->

    <link href="/static/theme/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/theme/css/grayscale2.css" rel="stylesheet">
    <link href="/static/theme/css/accordion.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Custom fonts for this template -->
    <link href="/static/theme/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Code for easy autocomplete -->
    <link rel="stylesheet" href="/static/css/easy-autocomplete.css">
    <link rel="stylesheet" href="/static/css/easy-autocomplete.themes.css">

    <!-- Code for Date Picker -->
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/static/js/transition.js"></script>
    <script type="text/javascript" src="/static/js/collapse.js"></script>
    <script type="text/javascript" src="/static/js/moment.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>


<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107119024-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
  gtag('config', 'UA-107119024-1');
</script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-color:#303030;">

  <div id="particles-js"></div>

    <script>
            /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('particles-js', '/static/js/particles.json', function() {
          console.log('callback - particles.js config loaded');
        });
    </script>


  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand page-scroll" href="http://linserv2.cims.nyu.edu:40555/">
                  <font style="color:#c0c0c0"> &nbsp Multi-Player Online Battle Games <br> &nbsp Matches and Players Analyzing Application </font>
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li>
                      <a class="navbar-brand page-scroll" href="http://linserv2.cims.nyu.edu:40555/"><font style="color:#c0c0c0"><strong>HOME</strong></font></a>
                  </li>
                  <li>
                      <a class="navbar-brand page-scroll" href="http://linserv2.cims.nyu.edu:40555/death"><font style="color:#c0c0c0"><strong>DEATH</strong></font></a>
                  </li>
                  <li>
                      <a class="navbar-brand page-scroll" href="http://linserv2.cims.nyu.edu:40555/player"><font style="color:#c0c0c0"><strong>PLAYER</strong></font></a>
                  </li>
                  <li>
                      <a class="navbar-brand page-scroll" href="http://linserv2.cims.nyu.edu:40555/match"><font style="color:#c0c0c0"><strong>MATCH</strong></font></a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <div class="row">
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>

  <div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                PUBG : Death HeatMap 
            </h2>
        </div>
    </div>

    <!-- /.row -->

    <div class="row">
      <br>
      <br>
        <!--Info Panel Beg-->
        <div class="col-xs-12 col-md-12 col-lg-12" align="center">
            <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                DEATH HEAPMAP - ERANGEL
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <img src="/static/images/era_death.png" alt="DEATH HEAPMAP - ERANGEL" style="width: 100%; height: 100%"/>
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                DEATH HEAPMAP - MIRAMAR
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingFour">
                        <div class="panel-body">
                            <img src="/static/images/mir_death.png" alt="DEATH HEAPMAP - MIRAMAR" style="width: 100%; height: 100%"/>
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

            </div>
            <!-- end of #accordion -->
        </div>

    </div>

    <br>
    <br>
    
    <div class="row">
      <div class="col-lg-12">    
      <small>
      Player Death HeapMaps computes the death amount in areas of different maps in PUBG and graphically displays the most fierce battle places. Teams and players can chose different map to make tactics for a specific match. It can also be used to design appealing maps for game producers.
      </small>
      </div>
    </div>
    
    <br>

    <hr>

    <footer>
        <font style="color:#c0c0c0">Copyright &copy; NYU BDAD SPRING 2018</font>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="/static/js/jquery.easy-autocomplete.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/theme/js/grayscale.js"></script>

<!-- core bootstrap from vendor -->

<script src="/static/theme/vendor/bootstrap/js/bootstrap.js"></script>

<!-- jquery for the accordion style widget -->
<script src="/static/theme/js/accordion.js"></script>


</body>
</html>